*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.header{
  display: flex;
  grid-gap: 35em;
}
.header img{
  width: 8em;
  height: auto;
  margin-left: 3em;
  cursor: pointer;
}
.ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 2em;

}
.ul li a{
    text-decoration: none;
    color: black;
}
.header{
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 100;
  background-color: #bdeb34;
  font-weight: bold;
}
.header ul li a{
  position: relative;
  color: #34eb49;
}
.header ul li a::before{
  content: '';
  width: 0;
  height: 4px;
  background-color: #3b473d;
  position: absolute;
  top: 1.5em;
}
.header ul li a:hover{
  color:#3b473d;
  transition:ease 0.7s;
}
.header ul li a:hover:before{
  transition: ease 0.7s;
  width: 100%;
}
.photos{
  display: flex;
  grid-gap: 3em;
  background:#a6a28d;
}
.h2{
  position: absolute;
  top: 18em;
  left: 30em;
  transform: rotate(-45deg);
  color:#fa2a0f;
}
.h3{
  position: absolute;
  top: 9em;
  left: 8em;
  color:#0ffa1f;
}
.h4{
  position: absolute;
  top: 15em;
  left: 10em;
  transform: rotate(45deg);
  color:#3e0ffa;
}
.h5{
  position: absolute;
  top: 18em;
  left: 13em;
  color:#96c71c;
}
.h6{
  position: absolute;
  top: 18em;
  left: 37em;
  color:#0d0a4d;
}
.h7{
  position: absolute;
  top: 12em;
  left: 25em;
  transform: rotate(45deg);
  color:#d0f222;
}
.h8{
  position: absolute;
  top: 10em;
  left: 43em;
  transform: rotate(-45deg);
  color:#0e6f82;
}
.photos img{
  width: 7em;
  height: auto;

}
.img1{
  position: absolute;
  top: 10em;
  left: 3em;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}
.img2 {
  position: absolute;
  top: 22em;
  left: 6em;
  transform: rotate(-45deg);
}
.img3 {
  position: absolute;
  top: 10em;
  left: 31em;
  transform: rotate(-15deg);
}
.img4 {
  position: absolute;
  top: 22em;
  left: 30em;
  transform: rotate(-45deg);
}
.img5 {
  position: absolute;
  top: 12em;
  left: 19em;
}
.img6 {
  position: absolute;
  top: 13em;
  left: 55em;
  transform: rotate(-25deg);
}
.img7 {
  position: absolute;
  top: 12em;
  left: 70em;
}
.img8 {
  position: absolute;
  top: 22em;
  left: 70em;
  transform: rotate(25deg);
}
.img9 {
  position: absolute;
  top: 12em;
  left: 45em;
}
.img10{
  position: absolute;
  top: 31em;
  left: 60em;

}
.img10 img{
  padding-top: 0;
  border:1px solid red;
  transition:0.5s ease-in-out;
 animation: buble 6s ease-in-out infinite;
}
@keyframes buble {
  0%{
    border-radius: 45% 55% 49% 51% / 52% 49% 51% 48%  ;
  }
  20%{
    border-radius: 45% 55% 49% 51% / 52% 77% 23% 48%  ;
  }
  40%{
    border-radius: 45% 55% 84% 16% / 52% 48% 52% 48%  ;
  }
  60%{
    border-radius: 45% 55% 45% 55% / 16% 48% 52% 84%   ;
  }
  80%{
    border-radius: 37% 63% 45% 55% / 41% 48% 52% 59%  ;
  }
  100%{
    border-radius: 45% 55% 49% 51% / 52% 49% 51% 48%  ;
  }
}
.intro{
  position: absolute;
  top: 33em;
  left: 9em;
  margin-bottom: 2em;
  padding: 3em;
}
span{
  color: #f74d0a;
}
.intro h2{
  color: #64f592;
  transition: ease 2s;
  animation: play 2s ease-in-out infinity;
}
@keyframes play {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(5em);
  }
  100%{
    transform: translateX(0);
  }
}
